bleak==0.22.3
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
cryptography==45.0.4
dbus-fast==2.44.1
idna==3.10
meshtastic==2.6.4
packaging==24.2
paho-mqtt==2.1.0
protobuf==6.31.1
pycparser==2.22
Pypubsub==4.0.3
pyserial==3.5
PyYAML==6.0.2
requests==2.32.4
tabulate==0.9.0
typing_extensions==4.14.0
urllib3==2.5.0
